@import "./partials/animazioni";
@import "./partials/bottoni";
@import "./partials/colori";
@import "./partials/font";
@import "./partials/mixins";
@import "./partials/reset";
@import "./partials/spaziature";

@for $i from 1 through length($btn-color) {
  .btn-#{$i} {
    @include dinamicBtn(nth($btn-color, $i));
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $text-color;
  > div {
    > ul {
      display: flex;
      > li {
        display: inline;

        > a {
          text-decoration: none;
        }
      }
    }
    img {
      height: 80px;
    }
  }
}
header {
  background-color: $bg-hero-color;
  div {
    display: flex;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      div {
        padding: 2em;
        h1 {
          @include fadeIn(-50px, 0px, 0.5s);
          @include customTitle($text-color);
        }
        p {
          line-height: 1.2;
        }
      }
      img {
        @include floating($border: 1px solid white);
      }
    }
    > button {
      display: inline-block;
      margin-inline: 3em;
    }
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2rem;

  div {
    @include grid($widht: 22%);
  }

  div:nth-child(1) img {
    @include floating(
      $border: none,
      $box-shadow: rgba(176, 31, 31, 0.752) 8px 9px 4px 4px
    );
  }
  div:nth-child(2) img {
    @include floating(
      $border: none,
      $box-shadow: rgba(218, 233, 10, 0.842) 8px 9px 4px 4px
    );
  }
  div:nth-child(3) img {
    @include floating(
      $border: none,
      $box-shadow: rgba(0 0 234 / 1) 8px 9px 4px 4px
    );
  }
  div:nth-child(4) img {
    @include floating(
      $border: none,
      $box-shadow: rgba(20, 140, 20, 0.914) 8px 9px 4px 4px
    );
  }
}
