.font-size-1 {
  font-size: 0.4em;
}

.font-size-2 {
  font-size: 0.8em;
}

.font-size-3 {
  font-size: 1.2em;
}

.font-size-4 {
  font-size: 1.6em;
}

.font-size-5 {
  font-size: 2em;
}

.font-size-6 {
  font-size: 2.4em;
}

.font-size-7 {
  font-size: 2.8em;
}

.font-size-8 {
  font-size: 3.2em;
}

.font-size-9 {
  font-size: 3.6em;
}

.font-size-10 {
  font-size: 4em;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.pd-block-xs {
  padding-block: 10px;
}

.pd-block-sm {
  padding-block: 20px;
}

.pd-block-md {
  padding-block: 30px;
}

.pd-block-lg {
  padding-block: 40px;
}

.pd-block-xl {
  padding-block: 50px;
}

.pd-inline-xs {
  padding-inline: 10px;
}

.pd-inline-sm {
  padding-inline: 20px;
}

.pd-inline-md {
  padding-inline: 30px;
}

.pd-inline-lg {
  padding-inline: 40px;
}

.pd-inline-xl {
  padding-inline: 50px;
}

.mg-block-xs {
  margin-block: 10px;
}

.mg-block-sm {
  margin-block: 20px;
}

.mg-block-md {
  margin-block: 30px;
}

.mg-block-lg {
  margin-block: 40px;
}

.mg-block-xl {
  margin-block: 50px;
}

.mg-inline-xs {
  margin-inline: 10px;
}

.mg-inline-sm {
  margin-inline: 20px;
}

.mg-inline-md {
  margin-inline: 30px;
}

.mg-inline-lg {
  margin-inline: 40px;
}

.mg-inline-xl {
  margin-inline: 50px;
}

.btn-1 {
  padding: 1em;
  font-size: 1em;
  border: none;
  border-radius: 50%;
  background-color: #0e6cff;
}

.btn-2 {
  padding: 1em;
  font-size: 1em;
  border: none;
  border-radius: 50%;
  background-color: #ff8700;
}

.btn-3 {
  padding: 1em;
  font-size: 1em;
  border: none;
  border-radius: 50%;
  background-color: #4caf50;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
}
nav > div > ul {
  display: flex;
}
nav > div > ul > li {
  display: inline;
}
nav > div > ul > li > a {
  text-decoration: none;
}
nav > div img {
  height: 80px;
}

header {
  background-color: #640fc5;
}
header div {
  display: flex;
}
header div div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header div div div {
  padding: 2em;
}
header div div div h1 {
  padding: 1em;
  color: #f4f4f4;
  font-size: 3em;
}
header div div div p {
  line-height: 1.2;
}
header div div img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 8px 9px 4px 4px;
  border: 1px solid white;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: tranform 0.3s ease;
}
header div div img:hover {
  box-shadow: none;
  transform: scale3d(1, 1, 1);
}
header div > button {
  display: inline-block;
  margin-inline: 3em;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
}
main div {
  width: 48%;
}
main div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main div:nth-child(1) img {
  border-radius: 10px;
  box-shadow: rgba(176, 31, 31, 0.752) 8px 9px 4px 4px;
  border: none;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: tranform 0.3s ease;
}
main div:nth-child(1) img:hover {
  box-shadow: none;
  transform: scale3d(1, 1, 1);
}
main div:nth-child(2) img {
  border-radius: 10px;
  box-shadow: rgba(218, 233, 10, 0.842) 8px 9px 4px 4px;
  border: none;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: tranform 0.3s ease;
}
main div:nth-child(2) img:hover {
  box-shadow: none;
  transform: scale3d(1, 1, 1);
}
main div:nth-child(3) img {
  border-radius: 10px;
  box-shadow: rgb(0, 0, 234) 8px 9px 4px 4px;
  border: none;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: tranform 0.3s ease;
}
main div:nth-child(3) img:hover {
  box-shadow: none;
  transform: scale3d(1, 1, 1);
}
main div:nth-child(4) img {
  border-radius: 10px;
  box-shadow: rgba(20, 140, 20, 0.914) 8px 9px 4px 4px;
  border: none;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: tranform 0.3s ease;
}
main div:nth-child(4) img:hover {
  box-shadow: none;
  transform: scale3d(1, 1, 1);
}/*# sourceMappingURL=style.css.map */